
<footer class='footer'>
  <div class='wrapper'>
    <p class='footer__charity'>Carriden Church is registered <br> in Scotland as Charity No SC007811 </p>
    <p class='footer__link'>website by <a href='http://iamtomvance.co.uk'>iamtomvance</a></p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src='/js/lightbox.js'></script>
<script type="text/javascript" src='/js/app.js'></script>

</body>
</html>
