<header class='header'>
  <div class="wrapper">
    <a href='/'><img src="/images/logo.png" alt="" width='207'></a>

    <nav class='nav'>
      <a href='#' class='nav__mobile'><i class='fa fa-bars'></i> Menu</a>
      <ul>
        <li><a class='nav__item' href="/">Home</a></li>
        <li><a class='nav__item' href="/about">About</a></li>
        <li><a class='nav__item' href="/events">Events</a></li>
        <li><a class='nav__item' href="/photos">Church Photos</a></li>
	<li><a class='nav__item' href="/activity-photos">Activities</a></li>
        <li><a class='nav__item' href="/news">News</a></li>
        <li><a class='nav__item' href="/contact">Contact</a></li>
        <li><a class='nav__item' href="{{params.assets.profile}}">Church Profile</a></li>
      </ul>
    </nav>
  </div>
</header>
