<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact</title>

  <style>
    body{background:#eee;font-family: 'Helvetica', 'Arial', sans-serif; color:#333;}
    .wrapper{margin:0 auto;background:#fff;border-collapse: collapse;padding:25px 0 30px;border-bottom:5px solid #4b4c56}
    .footer{margin:20px auto;border-collapse: collapse;padding:0 0 30px;text-align: left;font-size:14px; color:#aaa;}
    .header{background:#4b4c56;color:#fff;text-align: center;}
    .title{text-align: center;font-weight:lighter;font-size:24px;margin:40px 0}
    a{color:#2196F3}

  </style>
</head>
<body>
<table width="600px" class='wrapper'>
  <tr>
    <td colspan='2'>Can't see this email properly? <a href='http://carridenchurch.co.uk/email/contact/{{data.query}}'>View In Browser</a></td>
  </tr>
  <tr class='header'>
    <td>
      <a href='http://carridenchurch.co.uk' target="_blank"><img width="207" src="http://carridenchurch.co.uk/images/logo.png" alt=""></a>
    </td>
    <td style='vertical-align: middle'>
    </td>
  </tr>

  <tr>
    <td colspan="2">
      <h1 class='title'>{{data.name}} Contacted You</h1>

      <p style='padding:0 20px'>Email: {{data.email}}</p>

      <p style='padding:0 20px'>{{data.message}}</p>
    </td>
  </tr>

</body>
</html>
